html, body{
    margin: 0;
    height: 100%;
    min-height: 100%;
    background-color: #111111;
    background: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8) 10px,
      rgba(0, 0, 0, 0.95) 10px,
      rgba(0, 0, 0, 0.95) 20px
    );
    font-size-adjust:2;
    text-size-adjust:auto;
    cursor:default;
    overflow:hidden;
}

::-webkit-scrollbar {
    margin-right:5px;
    background-color: #bdd9d5;
    border-radius: 6px;
    width: 12px;
}

::-webkit-scrollbar-track{
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb{
    border-radius: 12px;
    background: #2e2c2b;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) inset;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

a{
    color:#000000;
}

body {
  display: flex;
  flex-direction: column;
}

h1{
    padding:0px;
    margin:0px;
    display:inline;
    float:left;
    cursor:pointer;
    width:auto;
    text-size-adjust:auto;
    font-size-adjust:inherit;
}

h3{
    display:inline;
}

p{
    display:inline;
    font-family: Arial;
    font-size: smaller;
}

.youtube{
    width:90%;
    height:70%;
}

p.date{
    font-size:small;
    margin-left:1em;
}

.mainContainer {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    width:70%;
    min-width:800px;
    max-width:2000px;
    height:100%;
    font-size-adjust:inherit;
    text-size-adjust:auto;
    align-content:center;
    overflow:hidden;
    align-self:center;
    display:flex;
    flex-direction:column;
}

.header{
    position:relative;
    flex:none;
    height: auto;
    right:0px;
    left:0px;
    min-height:50px;
    background-color: rgba(31, 81, 96, 1);
    text-align:center;
    align-content:center;
    z-index:999;
}

.headerLogo{
    align-content:center;
    height: 25em;
    width:100%;
    float:left;
    position:relative;
    top:0em;
    display:inline;
    border:none;
    background-color:#222222;
    background-repeat:no-repeat;
    background-image:url("images/logo1.jpg");
    background-size:cover;
    background-position-x:center;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.5) inset;
    z-index:2;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    overflow:hidden;
    filter: grayscale(100%);
    filter:contrast(200%);
}

.headerLogoDisc{
    top:9.5em;
    float:left;
    position:relative;
    height:3em;
    width:100%;
    text-align:center;
    font-size:xx-large;
    color: #999999;
    display:inline;
    border:none;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    );
}

#contentWithLogo{
    width:100%;
    min-height:50%;
    overflow-y:hidden;
    position:relative;
    flex-grow:9;
}

#Home1{
    min-width:800px;
    top:0;
    width:100%;
    height:100%;
    position:absolute;
    float:left;
    overflow:auto;
    text-align:center;
}

#AboutUs1{
    min-width:800px;
    top:100%;
    margin-top:10em;
    width:100%;
    height:100%;
    position:absolute;
    float:left;
    overflow-y:auto;
    overflow-x:hidden;
    display: flex;
    flex-flow: row wrap;
}

#Garage1{
    width:100%;
    height:100%;
    top:100%;
    overflow-y:hidden;
    position:absolute;
}

.contactinformation{
    flex-grow:1;
    min-width:200px;
    max-width:350px;
    height:25em;
    display:inline-table;
    margin:1em;
    top:0em;
    float:left;
    text-align:center;
    display:flex;
    flex-flow: column;
    justify-content:flex-end;
}

.contactinformation > div{
    align-self: center;
}
.contactinformation > p{
    align-self: center;
}

.contactName{
    font-size:xx-large;
    color:#222222;
    font-weight:700;
}

.contactphone{
    margin-left:1em;
    text-align:left;
    font-size:large;
    color:#111111;
    font-weight:700;
    margin-bottom:1em;
}

.contactemail{
    margin-left:1em;
    text-align:left;
    font-size:large;
    color:#111111;
    font-weight:700;
}

.contactpicture{
    width:100%;
    height:15em;
    display:block;
    float:left;
    top:0em;
    margin-bottom:1em;
}



.navbar{
    position:absolute;
    padding-left:10em;
    background: linear-gradient(
        0deg,
        rgb(0, 20, 81),
        rgb(0, 46, 81)
    );
    top:0em;
    left:0em;
    right:0em;
    bottom:0px;
    text-align:center;
    z-index:1;
    align-content:center;
}

.leftContainer{
    width:10em;
    background: linear-gradient(
        0deg,
        rgb(0, 62, 81),    
        rgb(0, 21, 81)
        
    );
    position:absolute;
    float: right;
    height:100%;
    text-align:center;
    -webkit-overflow-scrolling: touch;
    flex: auto;
}

.leftContentContainer{
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.02),
      rgba(0, 0, 0, 0.02) 10px,
      rgba(0, 0, 0, 0.04) 10px,
      rgba(0, 0, 0, 0.04) 20px
    );
}

.contentContainer{
    width:auto;
    right:0em;
    left:0em;
    top:0em;
    position:relative;
    background-color: rgba(78, 149, 170, 0.80);
    padding: 0em;
    margin: 0px;
    flex-grow:9;
    display:flex;
    flex-direction:column;
    overflow:hidden;
    /*border-left:solid;
    border-left-color: #ffffff;*/
}

.contentContainer .button{
    margin-right:5%;
    margin-left:5%;
    margin-bottom: 1em;
    width:80%;
}

.content{
    width:auto;
    height:100%;
    right:0em;
    left:0em;
    position:relative;
    float:right;
    overflow:hidden;
    /*overflow:auto;
    margin-right: -2em;
    padding-right: 2em;
    border-left:solid;
    border-left-color: #ffffff;*/
}

.footer{
    position:relative;
    bottom:0px;
    right:0em;
    left:0em;
    background-color:rgba(0, 62, 81, 1);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    text-align:center;
}
.footer > p {
    font-size:xx-large;
    color:rgba(0, 0, 0, 0.63);
    font-family:Georgia;
    
}



.navbar .button{
    min-width:5em;
    float:left;
    position:relative;
    width:auto;
    padding: 0.7em 0.5em 0.0em 0.5em;
    height:2em;
    cursor: pointer;
    background: rgba(7, 68, 88, 0.00); /*#3498db*/
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 0em;
    font-family: Arial;
    font-size:17px;
    color: #bbbbbb;
    border: none;
    border-right: solid #1f628d 1px;
    text-decoration: none;
}

.button{
    min-width:5em;
    float:right;
    position:relative;
    width:auto;
    padding: 0.4em 0.5em 0.0em 0.5em;
    height:1.5em;
    cursor: pointer;
    background: #004651; /*#3498db*/
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 0.5em;
    font-family: Arial;
    font-size:17px;
    color: #ffffff;
    border: solid #1f628d 1px;
    text-decoration: none;
}

.button:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}


.button:active{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    font-family: Arial;
    color: #ffffff;
    text-decoration: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.dropdown:active{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    
}

.dropdown div{
    float:none;
}

.dropdowncontainer{
    float:none;
    left:-9999px;
    background:rgba(255, 255, 255, 0.4);
    position:absolute;
    cursor: default;
    z-index:4;
    opacity: 0;
}

.dropdowncontainer .button{
    width:50%;
    z-index:3;
    margin:0;
}

.dropdown:hover .dropdowncontainer{
    left:0;
    margin-top:0.0em;
    opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.dropdown:hover .button{
    left:0;
    margin-top:0.2em;
    width:auto;
    background:#6b0c36;
    background-image: -webkit-linear-gradient(top, #b02462, #aa054e);
    background-image: -moz-linear-gradient(top, #b02462, #aa054e);
    background-image: -ms-linear-gradient(top, #b02462, #aa054e);
    background-image: -o-linear-gradient(top, #b02462, #aa054e);
    background-image: linear-gradient(to bottom, #b02462, #aa054e);
}


.dropdown:hover div .button:hover{
    background:#6b0c36;
    background-image: -webkit-linear-gradient(top, #6b0c36, #aa054e);
    background-image: -moz-linear-gradient(top, #6b0c36, #aa054e);
    background-image: -ms-linear-gradient(top, #6b0c36, #aa054e);
    background-image: -o-linear-gradient(top, #6b0c36, #aa054e);
    background-image: linear-gradient(to bottom, #6b0c36, #aa054e);
}

.fade {
    opacity: 0;
    -o-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.unfade {
    opacity: 1;
    -o-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}



.dropdown:hover div .button:active{
    background: #6b0c36;
    background-image: -webkit-linear-gradient(top, #aa054e, #6b0c36);
    background-image: -moz-linear-gradient(top, #aa054e, #6b0c36);
    background-image: -ms-linear-gradient(top, #aa054e, #6b0c36);
    background-image: -o-linear-gradient(top, #aa054e, #6b0c36);
    background-image: linear-gradient(to bottom, #aa054e, #6b0c36);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 0.5em;
    font-family: Arial;
    color: #ffffff;
    border: solid #1f628d 1px;
    text-decoration: none;
}

.garageContent{
    background-color: rgba(0, 0, 0, 0.10);
    float:left;
    position:absolute;
    overflow-y:auto;
    z-index: 5;
    height:100%;
    left:10em;
    right:0px;
}

.garage{
    background-color: rgba(0, 0, 0, 0.20);
    height:auto;
    width:auto;
    float:left;
    position:absolute;
    padding-top:1em;
    padding-right:1em;
}
.garage div{
    display:inline;
}
.garage p{
    color:white;
}
.garage .lot{
    float:left;
    background-color: rgba(30, 30, 30, 0.20);
    width:5em;
    height:7em;
    margin-left: 1em;
    margin-bottom: 1em;
    padding:1em;
}

.lot .vehicle{
    float:left;
    background-color: #222222;
    width:100%;
    height:100%;
}

